body,
html {
    background-image: url('https://img.pikbest.com/backgrounds/20190420/blue-business-technology-information-security-banner-background_1889994.jpg!w700wp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main {
    width: 300px;
    margin: 30px auto;
}

.text-center {
    color: white;
}

.texto-footer {
    color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 700;
    font-size: 0.875rem;
}

.rodape {
    color: var(--cor-primaria);
    background-color: #0d6efd;
    padding: 24px;
    justify-content: right;
}

.btn-copiar:hover {
    opacity: 0.9;
}

.info-gerador {
    display: flex;
    flex-direction: column;
}

#botao-copiar {
    width: 100% !important;
    height: auto;
    color: white;
    background-color: #0d6efd;
}

.conteudo-secundaria {
    padding: 2rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input {
    margin-right: 8px;
}

.letras-maiusculas {
    color: white;
}
